/* dialogStyle.css */

/* Style for the dialog header */
.dialog-header {
    -fx-background-color: #336699;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Style for the dialog content */
.dialog-content {
    -fx-background-color: #f0f0f0;
}

/* Style for the close button */
.button-close {
    -fx-background-color: #336699;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
}

/* Style for the accept button */
.button-accept {
    -fx-background-color: #336699;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
}

/* Style for the complaint response label */
.complaint-response-label {
    -fx-font-size: 14pt;
    -fx-text-fill: #336699;
}
